html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Bevan, serif;
  background-color: #dbd6cf;
}

body header {
  color: #fff;
  background-color: #595652;
  padding: .5em;
  margin: 0;
  border-radius: 10px;
  line-height: 1.5;
  text-align: center;
  border-color: #595652;
}

nav ul {
  margin: 0;
  padding: .5em;
  text-align: center;
  list-style-type: none;
}

nav li {
  display: inline;
}

nav a {
  color: #fff;
  display: inline-block;
  background-color: #713837;
  text-align: center;
  padding: .6em;
  margin: .3em;
  text-decoration: none;
}

nav a:hover {
  background-color: #f33;
}

.p {
  font-family: sans-serif;
  padding: .75em;
  margin: .3em;
  border-radius: 8px;
}
